/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 60%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    display: none;
    border-radius: 10px;
}

.carousel-image.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.carousel-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

/*

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 60%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    position: relative;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
    display: none;
}

.carousel-image.active {
    opacity: 1;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.carousel-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}
